.menu--social-media {

  @media (min-width: $bp-desktop) {
    margin-left: auto;
  }

  .menu {
    display: flex;

    li {
      margin-right: $spacing * .5;
    }

    a {
      border: 0;

      &:hover {
        border: 0;
      }
    }

    .svg-inline--fa {
      color: $white;
      font-size: 2rem;
      transition: color .3s ease-in-out;

      &:hover {
        color: lighten($white, 30%);
      }
    }
  }
}