.block-system-branding-block {
  background: $white;
  margin: 0 auto;
  padding: $spacing 0;
  position: relative;
  text-align: center;
  z-index: 10;

  a {
    border: 0;
    display: block;

    img {
      margin: 0 auto;
      width: $spacing * 15;

      @media (min-width: $bp-tablet) {
        padding: $spacing 0;
        width: $spacing * 25;
      }
    }
  }
}