.region-above {
  .block-views-exposed-filter-blocksearch-page-1 {
    background: $white;
    max-width: 1200px;
    margin: 0 auto $spacing * 3;
  }

  .artwork {
    height: 200px;
    background: url('../img/searchbackground.jpg');
    background-size: cover;
    background-position: center;

    @media (min-width: $bp-tablet) {
      @include break-out();
      height: 400px;
    }
  }

  h2 {
    background-color: $goldenrod;
    display: inline-block;
    text-transform: uppercase;
    padding: $spacing $spacing * 2;
    transform: translateY(-50%);
  }

  label {
    display: none;
  }

  form {
    .form--inline {
      align-items: center;
      display: flex;
    }

    .form-submit {
      appearance: none;
      background-color: transparent;
      background-image: url('../img/search-big.svg');
      background-size: contain;
      border: 0;
      height: 36px;
      text-indent: -9999px;
      width: 36px;
    }

    padding: 0 $spacing;

    @media (min-width: $bp-tablet) {
      padding: 0;
      width: 75%;
      margin: 0 auto;
    }

    @media (min-width: $bp-desktop) {
      width: 66%;
    }
  }

  input.form-text {
    appearance: none;
    background-color: $white;
    border: none;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
    font-size: $base-font-size * 1.75;
    width: 100%;

    &::placeholder {
      color: rgba($color-primary, .33);
    }
  }
}