.view-taxonomy-term {
  margin-bottom: $spacing * 2;
  padding: 0 ($spacing * .5);

  @media (min-width: $bp-tablet) {
    margin: 0 (-$spacing * .5) $spacing * 2;
    padding: 0;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;

    .views-row {
      padding: $spacing * .5;

      @media (min-width: $bp-tablet) {
        width: 50%;
      }

      @media (min-width: $bp-xl) {
        width: 33.333%;
      }

      .node {
        height: 100%;

        h2,
        h3 {
          text-align: left;
        }
      }
    }
  }
}