.region-footer {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Bariol Regular';
  padding: $spacing * 2 $spacing;

  @media (min-width: $bp-tablet) {
    font-size: $base-font-size * 1.025;
    padding: $spacing * 2;
  }

  nav {
    margin-bottom: $spacing * 2;
    padding-right: $spacing;

    @media (min-width: $bp-tablet) {
      width: 50%;
    }

    @media (min-width: $bp-desktop) {
      width: 25%;
    }
  }

  ul.menu {
    margin: 0;
  }

  h2 {
    color: $goldenrod;
    font-family: 'Bariol Regular Italic';
  }

  a {
    color: $white;

    &:hover {
      border-bottom-color: $white;
    }
  }
}

.disclaimer {
  font-family: 'Bariol Regular Italic';

  a {
    color: $white;
  }
}