/* @cobi: your changes kunnen in dit bestand, niet de styles.css aanpassen, die wordt automatisch vervangen */

/* WEBFORM KOLOMMETJES IETSJE EERDER NAAR 100% LATEN SPRINGEN */
.webform-options-display-two-columns {
  display: block;
  max-width: 900px;
  margin-top: .4rem;
  column-count: 1;
}

@media (min-width:800px) {
  .webform-options-display-two-columns {
    display: block;
    max-width: 900px;
    margin-top: .4rem;
    column-count: 2;
  }
}

.webform-options-display-two-columns label.option {
  padding: 1rem;
  line-height: 2rem;
}

.webform-options-display-two-columns input[type="checkbox"],
.webform-options-display-two-columns input[type="radio"] {
  height: 1rem;
  width: 1rem;
}

/* CTA BAR OOK BIJ MOBIELE WEERGAVE ZICHTBAAR */
.paragraph--type--call-to-action-bar{display:block}

/* GENOEG HOOGTE VOOR PASFOTO BIJ TABEL 'OVER PERSOON' */
@media (min-width:768px) {
  .paragraph--type--frame ul.astable{
    min-height:12em;
  }
}

/* YOUTUBE/SOUNDCLOUD BLOCK OVER VOLLE BREEDTE */
.interview-content .paragraph--type--video, .paragraph--type--soundcloud {
  margin-left:0;
  width:100%;
}
 
/* BLOCKQUOTE VERBERGEN OP SMAL SCHERM (PHONE-MOBILE) */
@media (max-width:768px) {
   blockquote {
      display:none;
   }
}
