/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextregular.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextregular.ttf") format("opentype"), url("../fonts/ROsanswebtextregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextbold.ttf") format("opentype"), url("../fonts/ROsanswebtextbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextitalic.ttf") format("opentype"), url("../fonts/ROsanswebtextitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebregular.ttf") format("opentype"), url("../fonts/ROserifwebregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebbold.ttf") format("opentype"), url("../fonts/ROserifwebbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebitalic.ttf") format("opentype"), url("../fonts/ROserifwebitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Bariol Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"), url("../fonts/bariol_regular-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"), url("../fonts/bariol_regular_italic-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"), url("../fonts/bariol_thin_italic-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Thin';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"), url("../fonts/bariol_thin-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Light';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"), url("../fonts/bariol_light-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"), url("../fonts/bariol_light_italic-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"), url("../fonts/bariol_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"), url("../fonts/bariol_bold_italic-webfont.woff") format("woff");
}
/* line 1, ../sass/base/_base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../sass/base/_base.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "ROSans";
  font-size: 1.1875rem;
  line-height: 1.5;
  font-weight: 400;
}

/* line 16, ../sass/base/_base.scss */
body {
  background-color: #f0f1f2;
  color: #212529;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* line 23, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bariol Regular";
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 0.25rem;
}

/* line 34, ../sass/base/_base.scss */
h1 {
  font-size: 2.375rem;
}
@media (min-width: 768px) {
  /* line 34, ../sass/base/_base.scss */
  h1 {
    font-size: 3rem;
  }
}

/* line 42, ../sass/base/_base.scss */
h2 {
  font-size: 1.48438rem;
}

/* line 46, ../sass/base/_base.scss */
h3 {
  font-size: 1.33594rem;
}

/* line 50, ../sass/base/_base.scss */
h4 {
  font-size: 1.24688rem;
}

/* line 54, ../sass/base/_base.scss */
a {
  border-bottom: 1px solid transparent;
  color: #65bbe9;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
/* line 60, ../sass/base/_base.scss */
a:hover {
  border-bottom: 1px solid #65bbe9;
}

/* line 65, ../sass/base/_base.scss */
p {
  margin: 0;
}

/* line 69, ../sass/base/_base.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 78, ../sass/base/_base.scss */
.paragraph--type--text ul,
.paragraph--type--text ol,
.paragraph--type--frame ul,
.paragraph--type--frame ol {
  margin: 0;
}
/* line 83, ../sass/base/_base.scss */
.paragraph--type--text ul li + li,
.paragraph--type--text ol li + li,
.paragraph--type--frame ul li + li,
.paragraph--type--frame ol li + li {
  margin-top: 0.5rem;
}
/* line 93, ../sass/base/_base.scss */
.paragraph--type--text p + p, .paragraph--type--text p + ul, .paragraph--type--text p + ol,
.paragraph--type--text ul + p,
.paragraph--type--text ul + ul,
.paragraph--type--text ul + ol,
.paragraph--type--text ol + p,
.paragraph--type--text ol + ul,
.paragraph--type--text ol + ol,
.paragraph--type--frame p + p,
.paragraph--type--frame p + ul,
.paragraph--type--frame p + ol,
.paragraph--type--frame ul + p,
.paragraph--type--frame ul + ul,
.paragraph--type--frame ul + ol,
.paragraph--type--frame ol + p,
.paragraph--type--frame ol + ul,
.paragraph--type--frame ol + ol {
  margin-top: 1rem;
}

/* line 1, ../sass/base/_carousel.scss */
.slick-track {
  display: flex !important;
}

/* line 5, ../sass/base/_carousel.scss */
.slick-slide {
  height: inherit !important;
  padding: 0 0.5rem;
}
/* line 9, ../sass/base/_carousel.scss */
.slick-slide > div {
  height: 100%;
}

/* line 14, ../sass/base/_carousel.scss */
.slick-arrow {
  appearance: none;
  background: transparent;
  border: 0;
  font-size: 3rem;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
}

/* line 25, ../sass/base/_carousel.scss */
.slick-next {
  right: 0;
}

/* line 1, ../sass/base/_forms.scss */
input[type=text],
input[type=password] {
  max-width: 100%;
  padding: 0.5rem;
}

/* line 7, ../sass/base/_forms.scss */
.ajax-progress {
  display: none;
}

/* line 1, ../sass/layout/_layout.scss */
.region-content,
.region-footer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
@media (min-width: 768px) {
  /* line 1, ../sass/layout/_layout.scss */
  .region-content,
  .region-footer {
    padding: 0 1rem;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../sass/layout/_layout.scss */
  .region-content,
  .region-footer {
    padding: 0 2rem;
  }
}

/* line 16, ../sass/layout/_layout.scss */
body.page-node-type-story .region-content {
  padding-top: 0;
}

/* line 20, ../sass/layout/_layout.scss */
body.path-zoeken .region-content {
  max-width: 768px;
}

/* line 24, ../sass/layout/_layout.scss */
.block-system-main-block {
  margin-bottom: 2rem;
}

/* line 28, ../sass/layout/_layout.scss */
.page-footer {
  background-color: #216c9c;
  color: #fff;
}

/* line 33, ../sass/layout/_layout.scss */
.disclaimer {
  text-align: center;
  padding: 1rem 2rem;
}

/* line 1, ../sass/regions/_header.scss */
.navigation-buttons {
  align-items: center;
  background: #931058;
  color: #fff;
  display: flex;
  padding: 0 0.25rem;
}
/* line 8, ../sass/regions/_header.scss */
.navigation-buttons a:last-child {
  margin-left: auto;
}
@media (min-width: 768px) {
  /* line 1, ../sass/regions/_header.scss */
  .navigation-buttons {
    display: none;
  }
}

/* line 17, ../sass/regions/_header.scss */
.menu-toggler,
.search-toggler {
  display: block;
  height: 2.5rem;
  z-index: 3;
  border: none;
  background-image: url(../img/search.svg);
  background-size: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 1rem;
  cursor: pointer;
  text-indent: -9999px;
  width: 2rem;
}

/* line 33, ../sass/regions/_header.scss */
.menu-toggler {
  background-image: url(../img/bars.svg);
}

/* line 1, ../sass/regions/_footer.scss */
.region-footer {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Bariol Regular';
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/regions/_footer.scss */
  .region-footer {
    font-size: 1.21719rem;
    padding: 2rem;
  }
}
/* line 12, ../sass/regions/_footer.scss */
.region-footer nav {
  margin-bottom: 2rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  /* line 12, ../sass/regions/_footer.scss */
  .region-footer nav {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 12, ../sass/regions/_footer.scss */
  .region-footer nav {
    width: 25%;
  }
}
/* line 25, ../sass/regions/_footer.scss */
.region-footer ul.menu {
  margin: 0;
}
/* line 29, ../sass/regions/_footer.scss */
.region-footer h2 {
  color: #f9cb74;
  font-family: 'Bariol Regular Italic';
}
/* line 34, ../sass/regions/_footer.scss */
.region-footer a {
  color: #fff;
}
/* line 37, ../sass/regions/_footer.scss */
.region-footer a:hover {
  border-bottom-color: #fff;
}

/* line 43, ../sass/regions/_footer.scss */
.disclaimer {
  font-family: 'Bariol Regular Italic';
}
/* line 46, ../sass/regions/_footer.scss */
.disclaimer a {
  color: #fff;
}

/* line 1, ../sass/block/_branding.scss */
.block-system-branding-block {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}
/* line 6, ../sass/block/_branding.scss */
.block-system-branding-block a {
  border: 0;
  display: block;
}
/* line 10, ../sass/block/_branding.scss */
.block-system-branding-block a img {
  margin: 0 auto;
  width: 3rem;
}
@media (min-width: 768px) {
  /* line 10, ../sass/block/_branding.scss */
  .block-system-branding-block a img {
    width: 5rem;
  }
}

/* line 1, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block {
  background-color: #f7eff2;
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../sass/block/_breadcrumbs.scss */
  .block-system-breadcrumb-block {
    display: block;
  }
}
/* line 9, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block .breadcrumb {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
}
/* line 15, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block a {
  color: #212529;
}
/* line 18, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block a:hover {
  border-bottom-color: #212529;
}

/* line 1, ../sass/navigation/_main.scss */
.navigation-wrapper {
  background-color: #931058;
}

/* line 5, ../sass/navigation/_main.scss */
.menu--main {
  display: none;
  list-style: none;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  max-width: 1200px;
  z-index: 2;
}
@media (min-width: 768px) {
  /* line 5, ../sass/navigation/_main.scss */
  .menu--main {
    display: flex;
    align-items: center;
  }
}
/* line 19, ../sass/navigation/_main.scss */
.menu--main > .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
/* line 26, ../sass/navigation/_main.scss */
.menu--main > .menu > li {
  background-color: transparent;
  color: #fff;
  list-style: none;
  position: relative;
}
/* line 32, ../sass/navigation/_main.scss */
.menu--main > .menu > li > a,
.menu--main > .menu > li > span {
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.66667rem 1rem;
  transition: all .3s ease-in-out;
}
/* line 43, ../sass/navigation/_main.scss */
.menu--main > .menu > li.menu-item--active-trail a {
  background-color: #f7eff2;
  color: #212529;
  cursor: pointer;
}
/* line 53, ../sass/navigation/_main.scss */
.menu--main > .menu > li:hover a,
.menu--main > .menu > li:hover span, .menu--main > .menu > li:focus a,
.menu--main > .menu > li:focus span {
  background-color: #f7eff2;
  color: #212529;
  cursor: pointer;
}
/* line 60, ../sass/navigation/_main.scss */
.menu--main > .menu > li:hover ul, .menu--main > .menu > li:focus ul {
  display: block;
}
/* line 67, ../sass/navigation/_main.scss */
.menu--main > .menu ul {
  background: #f7eff2;
  display: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.015);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  margin: 0;
  min-width: 200px;
  position: absolute;
  left: 0;
  top: 53px;
}
/* line 79, ../sass/navigation/_main.scss */
.menu--main > .menu ul li {
  padding: 0.25rem 0;
}
/* line 82, ../sass/navigation/_main.scss */
.menu--main > .menu ul li a {
  color: #212529;
}
/* line 85, ../sass/navigation/_main.scss */
.menu--main > .menu ul li a:hover {
  border-color: #212529;
}
/* line 93, ../sass/navigation/_main.scss */
.menu--main .menu-item {
  padding: 0;
}

/* line 1, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper {
  background-color: #931058;
  padding: 0 1rem;
  z-index: 99;
  height: 0px;
  transition: height .3s ease-in-out;
  color: #fff;
  overflow: hidden;
}
/* line 11, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper a,
.mobile-menu-target-wrapper span {
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: block;
}
/* line 19, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul {
  border-top: 1px solid #fff;
  list-style: none;
  margin: 0;
}
/* line 24, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul li {
  list-style: none;
}
/* line 27, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul li + li {
  border-top: none;
}
/* line 32, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul ul {
  border-top: none;
  border-bottom: 1px solid #fff;
  padding-left: 1rem;
}
/* line 37, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul ul a {
  border: 0;
}
@media (min-width: 768px) {
  /* line 1, ../sass/navigation/_mobile.scss */
  .mobile-menu-target-wrapper {
    display: none;
  }
}

/* line 49, ../sass/navigation/_mobile.scss */
body.menu-open .mobile-menu-target-wrapper {
  display: block;
  height: unset;
  padding: 1rem;
}

/* line 1, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full {
  background: #fff;
}
/* line 4, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header {
  background-position: center;
  background-size: cover;
  padding: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  /* line 4, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 700px;
  }
}
/* line 15, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header::after {
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(33, 108, 156, 0.6) 0%, rgba(147, 16, 88, 0.333) 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
/* line 26, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper {
  padding: 3rem 0;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  /* line 26, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper {
    left: 50%;
    max-width: 1200px;
    position: absolute;
    top: 40%;
    padding: 0 1rem;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 26, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper {
    padding: 0 2rem;
  }
}
/* line 45, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper h1 {
  color: #fff;
  font-family: 'Bariol Regular Italic';
}
@media (min-width: 768px) {
  /* line 45, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper h1 {
    width: 66%;
  }
}
@media (min-width: 1024px) {
  /* line 45, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper h1 {
    width: 40%;
  }
}
/* line 58, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper .field--name-field-schooltype {
  color: #f9cb74;
  display: flex;
  font-family: 'Bariol Regular Italic';
  font-size: 1.24688rem;
}
/* line 64, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper .field--name-field-schooltype a {
  color: #f9cb74;
}
/* line 69, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper .field--name-field-schooltype .field__item:not(:first-child)::before {
  content: ' / ';
  display: inline-block;
  padding: 0 0.25rem;
}
/* line 79, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-content {
  background-color: #fff;
  position: relative;
}
@media (min-width: 768px) {
  /* line 79, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-content {
    margin-top: -7rem;
  }
  /* line 86, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-content .field--name-field-intro {
    padding-top: 6rem;
  }
}
/* line 92, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-details {
  align-items: center;
  background-color: #f9cb74;
  color: #931058;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 92, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-details {
    flex-direction: row;
    min-height: 5rem;
    min-width: 66.66%;
    font-size: 1.33594rem;
    padding: 0 2rem;
    position: absolute;
    transform: translateY(-50%);
  }
}
@media (min-width: 768px) {
  /* line 115, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-details .field__item:not(:last-child)::after {
    display: inline-block;
    content: ', ';
    padding-right: 0.25rem;
  }
}

/* line 1, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser {
  background: #fff;
  cursor: pointer;
  position: relative;
  transition: background-color .3s ease-in-out;
}
/* line 7, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser:hover {
  background-color: #e0edef;
}
/* line 11, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .interview-teaser-content {
  padding: 1rem 1rem 3rem;
}
/* line 14, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .interview-teaser-content h3 {
  margin-bottom: 1rem;
  text-align: center;
}
/* line 18, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .interview-teaser-content h3 a {
  color: #216c9c;
}
/* line 24, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .field--name-node-link {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* line 2, ../sass/fields/_intro.scss */
.node--view-mode-full .field--name-field-intro {
  background-color: #e0edef;
  color: #216c9c;
  font-size: 1.24688rem;
  margin: 0 auto 2rem;
  max-width: 850px;
  padding: 2rem 1rem 1rem;
}
@media (min-width: 768px) {
  /* line 2, ../sass/fields/_intro.scss */
  .node--view-mode-full .field--name-field-intro {
    padding: 3rem 2rem 2rem;
    margin: 0 auto 3rem;
  }
}
/* line 15, ../sass/fields/_intro.scss */
.node--view-mode-full .field--name-field-intro p {
  margin-bottom: 1rem;
}

/* line 1, ../sass/fields/_read-more.scss */
.field--name-node-link,
.view .more-link {
  display: flex;
}

/* line 2, ../sass/fields/_body.scss */
.field--name-field-body > .field__item {
  margin-bottom: 2rem;
}

/* line 2, ../sass/facets/_facets.scss */
.facet-item a {
  display: block;
  border: 1px solid #931058;
  border-radius: 1rem;
  padding: 0.33333rem 0.8rem;
  color: #931058;
  white-space: nowrap;
}
/* line 10, ../sass/facets/_facets.scss */
.facet-item a:hover {
  background-color: #f7eff2;
}
/* line 14, ../sass/facets/_facets.scss */
.facet-item a.is-active {
  background-color: #931058;
  color: #fff;
}
/* line 18, ../sass/facets/_facets.scss */
.facet-item a.is-active:hover {
  background-color: #f7eff2;
  color: #931058;
}

/* line 27, ../sass/facets/_facets.scss */
.facets-widget-links ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
  list-style: none;
  padding: 0;
}
/* line 35, ../sass/facets/_facets.scss */
.facets-widget-links li {
  margin-right: 0.5rem;
}

/* line 1, ../sass/paragraphs/_clearfix.scss */
.paragraph--type--clearfix {
  clear: both;
}
/* line 4, ../sass/paragraphs/_clearfix.scss */
.paragraph--type--clearfix::after {
  content: '';
  display: table;
}

/* line 1, ../sass/paragraphs/_text.scss */
.paragraph--type--text {
  margin: 0 auto 2rem;
  max-width: 850px;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_text.scss */
  .paragraph--type--text {
    padding: 0 2rem;
  }
}
/* line 10, ../sass/paragraphs/_text.scss */
.paragraph--type--text h2,
.paragraph--type--text h3,
.paragraph--type--text h4 {
  color: #216c9c;
}
/* line 20, ../sass/paragraphs/_text.scss */
.paragraph--type--text p + p, .paragraph--type--text p + ul, .paragraph--type--text p + ol,
.paragraph--type--text ul + p,
.paragraph--type--text ul + ul,
.paragraph--type--text ul + ol,
.paragraph--type--text ol + p,
.paragraph--type--text ol + ul,
.paragraph--type--text ol + ol {
  margin-top: 1rem;
}

/* line 1, ../sass/paragraphs/_video.scss */
.paragraph--type--video {
  background-color: #216c9c;
  font-family: 'Bariol Regular Italic';
  font-size: 1.24688rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_video.scss */
  .paragraph--type--video {
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../sass/paragraphs/_video.scss */
  .paragraph--type--video {
    float: left;
    margin: 0 2rem 2rem 0;
    width: 50%;
  }
}
@media (min-width: 1500px) {
  /* line 1, ../sass/paragraphs/_video.scss */
  .paragraph--type--video {
    margin-left: -16.66%;
    width: 66.666%;
  }
}
/* line 22, ../sass/paragraphs/_video.scss */
.paragraph--type--video .field--name-field-media-oembed-video {
  margin-bottom: 1rem;
  padding-top: 56.25%;
  position: relative;
}
/* line 27, ../sass/paragraphs/_video.scss */
.paragraph--type--video .field--name-field-media-oembed-video iframe {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 36, ../sass/paragraphs/_video.scss */
.paragraph--type--video .field--name-field-content {
  color: #fff;
  text-align: center;
  padding: 0 1rem 1rem;
}
@media (min-width: 768px) {
  /* line 36, ../sass/paragraphs/_video.scss */
  .paragraph--type--video .field--name-field-content {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_cta.scss */
  .field--name-field-call-to-action {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 6, ../sass/paragraphs/_cta.scss */
  .field--name-field-call-to-action > .field__item {
    width: 33.333%;
  }
}

/* line 1, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame {
  font-family: 'Bariol Regular Italic';
  font-size: 1.24688rem;
  width: 100%;
}
/* line 6, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame .field--name-field-alignment {
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame {
    display: flex;
    margin-bottom: 1rem;
    width: 50%;
  }
}
/* line 16, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-blue {
  background-color: #216c9c;
  color: #fff;
}
/* line 20, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-blue a {
  color: #f9cb74;
}
/* line 24, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-blue h2 {
  color: #f9cb74;
  font-family: 'Bariol Regular Italic';
  margin-bottom: 1rem;
}
/* line 31, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-gold {
  background-color: #f9cb74;
  color: #216c9c;
}
/* line 35, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-gold a {
  color: #216c9c;
  text-decoration: underline;
}
/* line 39, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-gold a:hover {
  text-decoration: none;
}
/* line 44, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-gold h2 {
  color: #216c9c;
  font-family: 'Bariol Regular Italic';
  margin-bottom: 1rem;
}
/* line 51, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-primary {
  background-color: #931058;
  color: #fff;
}
/* line 55, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-primary a {
  color: #f9cb74;
}
/* line 59, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-primary h2 {
  color: #f9cb74;
  font-family: 'Bariol Regular Italic';
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 66, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-left {
    float: left;
    margin-right: 2rem;
  }
}
@media (min-width: 1500px) {
  /* line 66, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-left {
    width: 66.666%;
    margin-left: -16.666%;
  }
}
@media (min-width: 768px) {
  /* line 79, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-right {
    float: right;
    margin-left: 2rem;
  }
}
@media (min-width: 1500px) {
  /* line 79, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-right {
    width: 66.666%;
    margin-right: -16.666%;
  }
}
/* line 90, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.frame-align-right .frame-content {
  order: 1;
}
/* line 94, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.frame-align-right .field-group-background-image {
  order: 2;
}
/* line 99, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame .frame-content {
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 99, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame .frame-content {
    padding: 2rem;
    width: 75%;
  }
}
/* line 108, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame .field-group-background-image {
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 108, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame .field-group-background-image {
    width: 25%;
  }
}

/* line 1, ../sass/views/_related-stories.scss */
.view-related-stories {
  margin: 0 -0.5rem 2rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/views/_related-stories.scss */
  .view-related-stories {
    padding: 0;
  }
}

/* line 1, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term {
  margin: -0.5rem;
}
/* line 4, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content {
  display: flex;
}
@media (min-width: 1024px) {
  /* line 4, ../sass/views/_taxonomy-term.scss */
  .view-taxonomy-term .view-content {
    flex-wrap: wrap;
  }
}
/* line 11, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content .views-row {
  padding: 0.5rem;
}
@media (min-width: 1024px) {
  /* line 11, ../sass/views/_taxonomy-term.scss */
  .view-taxonomy-term .view-content .views-row {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  /* line 11, ../sass/views/_taxonomy-term.scss */
  .view-taxonomy-term .view-content .views-row {
    width: 33.333%;
  }
}
/* line 22, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content .views-row .node {
  height: 100%;
}
/* line 25, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content .views-row .node h2,
.view-taxonomy-term .view-content .views-row .node h3 {
  text-align: left;
}
