@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextregular.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextregular.ttf") format("opentype"), url("../fonts/ROsanswebtextregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextbold.ttf") format("opentype"), url("../fonts/ROsanswebtextbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextitalic.ttf") format("opentype"), url("../fonts/ROsanswebtextitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebregular.ttf") format("opentype"), url("../fonts/ROserifwebregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebbold.ttf") format("opentype"), url("../fonts/ROserifwebbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebitalic.ttf") format("opentype"), url("../fonts/ROserifwebitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Bariol Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular"), url("../fonts/bariol_regular-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Regular Italic"), url("../fonts/bariol_regular_italic-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin Italic"), url("../fonts/bariol_thin_italic-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Thin';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Thin"), url("../fonts/bariol_thin-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Light';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light"), url("../fonts/bariol_light-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Light Italic"), url("../fonts/bariol_light_italic-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold"), url("../fonts/bariol_bold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Bariol Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bariol Bold Italic"), url("../fonts/bariol_bold_italic-webfont.woff") format("woff");
}
/* line 1, ../sass/base/_base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../sass/base/_base.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "ROSans";
  font-size: 1.1875rem;
  line-height: 1.5;
  font-weight: 400;
}

/* line 16, ../sass/base/_base.scss */
body {
  background-color: #fff;
  color: #212529;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* line 23, ../sass/base/_base.scss */
.page-container {
  background-color: #e7f4f6;
}

/* line 27, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
.h1,
.paragraph--type-frontpage-artikel .inset-wrapper .field--name-field-inset-title,
.h2,
.h3,
.h4,
.h5 {
  color: #931058;
  font-family: "Bariol Regular";
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 0.25rem;
}

/* line 44, ../sass/base/_base.scss */
h1,
.h1,
.paragraph--type-frontpage-artikel .inset-wrapper .field--name-field-inset-title {
  color: #fff;
  font-family: 'Bariol Regular Italic';
  font-size: 2.375rem;
}
@media (min-width: 768px) {
  /* line 44, ../sass/base/_base.scss */
  h1,
  .h1,
  .paragraph--type-frontpage-artikel .inset-wrapper .field--name-field-inset-title {
    font-size: 3rem;
  }
}

/* line 56, ../sass/base/_base.scss */
body.path-taxonomy h1 {
  margin: 1rem 0 2rem;
}

/* line 61, ../sass/base/_base.scss */
h2 {
  font-size: 1.48438rem;
}

/* line 65, ../sass/base/_base.scss */
h3 {
  font-size: 1.33594rem;
}

/* line 69, ../sass/base/_base.scss */
h4 {
  font-size: 1.24688rem;
}

/* line 73, ../sass/base/_base.scss */
a {
  border-bottom: 1px solid transparent;
  color: #65bbe9;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
/* line 79, ../sass/base/_base.scss */
a:hover {
  border-bottom: 1px solid #65bbe9;
}

/* line 84, ../sass/base/_base.scss */
p {
  margin: 0;
}

/* line 88, ../sass/base/_base.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 97, ../sass/base/_base.scss */
.paragraph--type--text ul,
.paragraph--type--text ol,
.paragraph--type--frame ul,
.paragraph--type--frame ol {
  margin: 0;
}
/* line 102, ../sass/base/_base.scss */
.paragraph--type--text ul li + li,
.paragraph--type--text ol li + li,
.paragraph--type--frame ul li + li,
.paragraph--type--frame ol li + li {
  margin-top: 0.5rem;
}
/* line 112, ../sass/base/_base.scss */
.paragraph--type--text p + p, .paragraph--type--text p + ul, .paragraph--type--text p + ol,
.paragraph--type--text ul + p,
.paragraph--type--text ul + ul,
.paragraph--type--text ul + ol,
.paragraph--type--text ol + p,
.paragraph--type--text ol + ul,
.paragraph--type--text ol + ol,
.paragraph--type--frame p + p,
.paragraph--type--frame p + ul,
.paragraph--type--frame p + ol,
.paragraph--type--frame ul + p,
.paragraph--type--frame ul + ul,
.paragraph--type--frame ul + ol,
.paragraph--type--frame ol + p,
.paragraph--type--frame ol + ul,
.paragraph--type--frame ol + ol {
  margin-top: 1rem;
}

/* line 1, ../sass/base/_carousel.scss */
.slick-track {
  display: flex !important;
}

/* line 5, ../sass/base/_carousel.scss */
.slick-slide {
  height: inherit !important;
}
@media (min-width: 768px) {
  /* line 5, ../sass/base/_carousel.scss */
  .slick-slide {
    padding: 0 0.5rem;
  }
}
/* line 12, ../sass/base/_carousel.scss */
.slick-slide > div {
  height: 100%;
}

/* line 17, ../sass/base/_carousel.scss */
.slick-arrow {
  appearance: none;
  background: transparent;
  border: 0;
  font-size: 3rem;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
}

/* line 28, ../sass/base/_carousel.scss */
.slick-next {
  right: 0;
}

/* line 1, ../sass/base/_forms.scss */
input[type=text],
input[type=password] {
  max-width: 100%;
  padding: 0.5rem;
}

/* line 7, ../sass/base/_forms.scss */
.ajax-progress {
  display: none;
}

/* line 1, ../sass/layout/_layout.scss */
.region-content,
.region-footer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 0 2rem;
}

/* line 8, ../sass/layout/_layout.scss */
body.page-node-type-story .region-content {
  padding-top: 0;
}

/* line 12, ../sass/layout/_layout.scss */
body.path-zoeken .region-content {
  max-width: 768px;
}

/* line 16, ../sass/layout/_layout.scss */
.block-system-main-block {
  margin-bottom: 4rem;
}

/* line 20, ../sass/layout/_layout.scss */
.page-footer {
  background-color: #2A6797;
  color: #fff;
}

/* line 25, ../sass/layout/_layout.scss */
.disclaimer {
  text-align: center;
  padding: 1rem 2rem;
}

/* line 1, ../sass/regions/_header.scss */
.navigation-buttons {
  align-items: center;
  background: #931058;
  color: #fff;
  display: flex;
  padding: 0 0.25rem;
}
/* line 8, ../sass/regions/_header.scss */
.navigation-buttons a:last-child {
  margin-left: auto;
}
@media (min-width: 768px) {
  /* line 1, ../sass/regions/_header.scss */
  .navigation-buttons {
    display: none;
  }
}

/* line 17, ../sass/regions/_header.scss */
.menu-toggler,
.search-toggler {
  display: block;
  height: 2.5rem;
  z-index: 3;
  border: none;
  background-image: url(../img/search.svg);
  background-size: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 1rem;
  cursor: pointer;
  text-indent: -9999px;
  width: 2rem;
}

/* line 33, ../sass/regions/_header.scss */
.menu-toggler {
  background-image: url(../img/bars.svg);
}

/* line 1, ../sass/regions/_footer.scss */
.region-footer {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Bariol Regular';
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/regions/_footer.scss */
  .region-footer {
    font-size: 1.21719rem;
    padding: 2rem;
  }
}
/* line 12, ../sass/regions/_footer.scss */
.region-footer nav {
  margin-bottom: 2rem;
  padding-right: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 12, ../sass/regions/_footer.scss */
  .region-footer nav {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 12, ../sass/regions/_footer.scss */
  .region-footer nav {
    width: 25%;
  }
}
/* line 26, ../sass/regions/_footer.scss */
.region-footer ul.menu {
  margin: 0;
}
/* line 30, ../sass/regions/_footer.scss */
.region-footer h2 {
  color: #FFD200;
  font-family: 'Bariol Regular Italic';
}
/* line 35, ../sass/regions/_footer.scss */
.region-footer a {
  color: #fff;
}
/* line 38, ../sass/regions/_footer.scss */
.region-footer a:hover {
  border-bottom-color: #fff;
}

/* line 44, ../sass/regions/_footer.scss */
.disclaimer {
  font-family: 'Bariol Regular Italic';
}
/* line 47, ../sass/regions/_footer.scss */
.disclaimer a {
  color: #fff;
}

/* line 1, ../sass/block/_branding.scss */
.block-system-branding-block {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}
/* line 6, ../sass/block/_branding.scss */
.block-system-branding-block a {
  border: 0;
  display: block;
}
/* line 10, ../sass/block/_branding.scss */
.block-system-branding-block a img {
  margin: 0 auto;
  width: 3rem;
}
@media (min-width: 768px) {
  /* line 10, ../sass/block/_branding.scss */
  .block-system-branding-block a img {
    width: 5rem;
  }
}

/* line 1, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block {
  background-color: #f7eff2;
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../sass/block/_breadcrumbs.scss */
  .block-system-breadcrumb-block {
    display: block;
  }
}
/* line 9, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block .breadcrumb {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
}
/* line 15, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block a {
  color: #212529;
}
/* line 18, ../sass/block/_breadcrumbs.scss */
.block-system-breadcrumb-block a:hover {
  border-bottom-color: #212529;
}

/* line 1, ../sass/block/_title.scss */
.block-page-title-block {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/block/_title.scss */
  .block-page-title-block {
    padding: 0;
  }
}
/* line 8, ../sass/block/_title.scss */
.block-page-title-block h1 {
  margin: 1rem 0 2rem;
}

/* line 1, ../sass/navigation/_main.scss */
.navigation-wrapper {
  background-color: #931058;
}

/* line 5, ../sass/navigation/_main.scss */
.menu--main {
  display: none;
  list-style: none;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  max-width: 1200px;
  z-index: 2;
}
@media (min-width: 768px) {
  /* line 5, ../sass/navigation/_main.scss */
  .menu--main {
    display: flex;
    align-items: center;
  }
}
/* line 19, ../sass/navigation/_main.scss */
.menu--main > .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
/* line 26, ../sass/navigation/_main.scss */
.menu--main > .menu > li {
  background-color: transparent;
  color: #fff;
  font-family: 'Bariol Bold';
  list-style: none;
  position: relative;
}
/* line 33, ../sass/navigation/_main.scss */
.menu--main > .menu > li > a,
.menu--main > .menu > li > span {
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.66667rem 1rem;
  transition: all .3s ease-in-out;
}
/* line 44, ../sass/navigation/_main.scss */
.menu--main > .menu > li.menu-item--active-trail a {
  background-color: #f7eff2;
  color: #212529;
  cursor: pointer;
}
/* line 54, ../sass/navigation/_main.scss */
.menu--main > .menu > li:hover a,
.menu--main > .menu > li:hover span, .menu--main > .menu > li:focus a,
.menu--main > .menu > li:focus span {
  background-color: #f7eff2;
  color: #212529;
  cursor: pointer;
}
/* line 61, ../sass/navigation/_main.scss */
.menu--main > .menu > li:hover ul, .menu--main > .menu > li:focus ul {
  display: block;
}
/* line 68, ../sass/navigation/_main.scss */
.menu--main > .menu ul {
  background: #f7eff2;
  display: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.015);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  margin: 0;
  min-width: 200px;
  position: absolute;
  left: 0;
  top: 53px;
}
/* line 80, ../sass/navigation/_main.scss */
.menu--main > .menu ul li {
  padding: 0.25rem 0;
}
/* line 83, ../sass/navigation/_main.scss */
.menu--main > .menu ul li a {
  color: #212529;
  font-family: 'Bariol Regular';
}
/* line 87, ../sass/navigation/_main.scss */
.menu--main > .menu ul li a:hover {
  border-color: #212529;
}
/* line 95, ../sass/navigation/_main.scss */
.menu--main .menu-item {
  padding: 0;
}

/* line 1, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper {
  background-color: #931058;
  padding: 0 1rem;
  z-index: 99;
  height: 0px;
  transition: height .3s ease-in-out;
  color: #fff;
  overflow: hidden;
}
/* line 11, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper a,
.mobile-menu-target-wrapper span {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Bariol Bold';
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: block;
}
/* line 20, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul {
  border-top: 1px solid #fff;
  list-style: none;
  margin: 0;
}
/* line 25, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul li {
  list-style: none;
}
/* line 28, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul li + li {
  border-top: none;
}
/* line 33, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul ul {
  border-top: none;
  border-bottom: 1px solid #fff;
  padding-left: 1rem;
}
/* line 38, ../sass/navigation/_mobile.scss */
.mobile-menu-target-wrapper ul ul a {
  border: 0;
  font-family: 'Bariol Regular';
}
@media (min-width: 768px) {
  /* line 1, ../sass/navigation/_mobile.scss */
  .mobile-menu-target-wrapper {
    display: none;
  }
}

/* line 51, ../sass/navigation/_mobile.scss */
body.menu-open .mobile-menu-target-wrapper {
  display: block;
  height: unset;
  padding: 1rem;
}

/* line 1, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full {
  background: #fff;
}
/* line 4, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header {
  background-position: center;
  background-size: cover;
  padding: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  /* line 4, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 700px;
  }
}
/* line 15, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper {
  padding: 3rem 0;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  /* line 15, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper {
    left: 50%;
    max-width: 1200px;
    padding: 0 1rem;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 15, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper {
    padding: 0 2rem;
  }
}
/* line 34, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper .inner-wrapper {
  background-color: rgba(129, 173, 194, 0.95);
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 34, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper .inner-wrapper {
    width: 66%;
  }
}
@media (min-width: 1024px) {
  /* line 34, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-header .wrapper .inner-wrapper {
    width: 40%;
  }
}
/* line 47, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper h1 {
  color: #fff;
  font-family: 'Bariol Regular Italic';
  word-break: break-word;
}
/* line 53, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper .field--name-field-schooltype {
  color: #FFD200;
  display: flex;
  font-family: 'Bariol Bold Italic';
  font-size: 1.24688rem;
}
/* line 59, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper .field--name-field-schooltype a {
  color: #FFD200;
}
/* line 64, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-header .wrapper .field--name-field-schooltype .field__item:not(:first-child)::before {
  content: ' / ';
  display: inline-block;
  padding: 0 0.25rem;
}
/* line 74, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-content {
  background-color: #fff;
  position: relative;
}
@media (min-width: 768px) {
  /* line 74, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-content {
    margin-top: -7rem;
  }
  /* line 81, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-content .field--name-field-intro {
    padding-top: 6rem;
  }
}
/* line 87, ../sass/nodes/_interview--full.scss */
.node--type-interview.node--view-mode-full .interview-details {
  align-items: center;
  background-color: #FFD200;
  color: #931058;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 87, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-details {
    flex-direction: row;
    font-size: 1.33594rem;
    min-height: 5rem;
    min-width: 66.66%;
    padding: 0 2rem;
    position: absolute;
    transform: translateY(-50%);
  }
}
@media (min-width: 768px) {
  /* line 110, ../sass/nodes/_interview--full.scss */
  .node--type-interview.node--view-mode-full .interview-details .field__item:not(:last-child)::after {
    display: inline-block;
    content: ', ';
    padding-right: 0.25rem;
  }
}

/* line 1, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser {
  background: #fff;
  box-shadow: 0;
  cursor: pointer;
  position: relative;
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}
/* line 8, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser:hover {
  background-color: #e0edef;
  box-shadow: 0 0 1rem rgba(33, 37, 41, 0.05);
}
/* line 13, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .field--name-field-schooltype {
  display: flex;
  flex-wrap: wrap;
}
/* line 18, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .field--name-field-schooltype .field__item a {
  color: #931058;
}
/* line 23, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .field--name-field-schooltype .field__item:not(:last-child) a {
  margin-right: 0.25rem;
}
/* line 30, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .interview-teaser-content {
  padding: 1rem 1rem 3rem;
}
/* line 33, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .interview-teaser-content h3 {
  margin-bottom: 1rem;
}
/* line 36, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .interview-teaser-content h3 a {
  color: #2A6797;
}
/* line 42, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .field--name-node-link {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
/* line 47, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .field--name-node-link a {
  height: 0px;
  width: 0px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
/* line 53, ../sass/nodes/_interview--teaser.scss */
.node--type-interview.node--view-mode-teaser .field--name-node-link a::before {
  color: #931058;
  content: '►►';
  font-size: 0.75rem;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 2, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full > .background-image {
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
}
@media (min-width: 768px) {
  /* line 2, ../sass/nodes/_frontpage--full.scss */
  .node--type-frontpage.node--view-mode-full > .background-image {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 4rem;
    min-height: 700px;
  }
}
/* line 15, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full > .background-image::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
/* line 25, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full > .background-image .front-header-wrapper {
  position: relative;
  z-index: 2;
}
/* line 29, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full > .background-image .front-header-wrapper h1 {
  color: #fff;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  /* line 25, ../sass/nodes/_frontpage--full.scss */
  .node--type-frontpage.node--view-mode-full > .background-image .front-header-wrapper {
    left: 50%;
    max-width: 600px;
    padding-right: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }
}
/* line 44, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full > .background-image .front-header-wrapper .field--name-node-title {
  background-color: rgba(129, 173, 194, 0.95);
  padding: 1rem 1rem 0;
}
/* line 49, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full > .background-image .front-header-wrapper .field--name-field-intro {
  background-color: rgba(129, 173, 194, 0.95);
  color: #fff;
  font-family: 'Bariol Regular Italic';
  font-size: 1.24688rem;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem;
}
@media (min-width: 768px) {
  /* line 49, ../sass/nodes/_frontpage--full.scss */
  .node--type-frontpage.node--view-mode-full > .background-image .front-header-wrapper .field--name-field-intro {
    font-size: 1.36563rem;
    margin-bottom: 2rem;
  }
}
/* line 65, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full .field--name-field-links {
  display: flex;
  flex-wrap: wrap;
}
/* line 70, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full .field--name-field-links .field__item:not(:last-child) {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
/* line 75, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full .field--name-field-links .field__item:nth-child(2) {
  page-break-after: always;
}
/* line 80, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full .field--name-field-links a {
  background-color: #fff;
  border: 2px solid #931058;
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(33, 37, 41, 0.2);
  color: #931058;
  display: inline-block;
  font-family: 'Bariol Regular Italic';
  padding: 0.25rem 1rem 0.3333rem;
  text-align: center;
  text-decoration: none;
}
/* line 92, ../sass/nodes/_frontpage--full.scss */
.node--type-frontpage.node--view-mode-full .field--name-field-links a:hover {
  background-color: #cca800;
  box-shadow: 0 0 1rem rgba(33, 37, 41, 0.4);
}

/* line 2, ../sass/fields/_intro.scss */
.node--type-interview.node--view-mode-full .field--name-field-intro {
  background-color: #e0edef;
  color: #2A6797;
  font-size: 1.24688rem;
  margin: 0 auto 2rem;
  max-width: 850px;
  padding: 2rem 1rem 1rem;
}
@media (min-width: 768px) {
  /* line 2, ../sass/fields/_intro.scss */
  .node--type-interview.node--view-mode-full .field--name-field-intro {
    padding: 3rem 2rem 2rem;
    margin: 0 auto 3rem;
  }
}
/* line 15, ../sass/fields/_intro.scss */
.node--type-interview.node--view-mode-full .field--name-field-intro p {
  margin-bottom: 1rem;
}

/* line 1, ../sass/fields/_read-more.scss */
.field--name-node-link,
.view .more-link {
  display: flex;
}

/* line 2, ../sass/fields/_body.scss */
.field--name-field-body > .field__item {
  margin-bottom: 2rem;
}

/* line 1, ../sass/fields/_cta.scss */
.paragraph--type--call-to-action {
  margin-bottom: -2rem;
  padding: 2rem 0 3rem;
}
/* line 5, ../sass/fields/_cta.scss */
.paragraph--type--call-to-action h2 {
  margin-bottom: 1rem;
  text-align: center;
}

/* line 1, ../sass/fields/_rate.scss */
.rate-form {
  text-align: center;
  padding-top: 1rem;
}

/* line 6, ../sass/fields/_rate.scss */
.rate-display {
  border-top: 1px solid #931058;
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 850px;
}
/* line 12, ../sass/fields/_rate.scss */
.rate-display h2 {
  font-size: 1.27656rem;
  text-align: center;
}

/* line 18, ../sass/fields/_rate.scss */
div.fivestar-rating-wrapper > div > div.rating-option-result {
  display: none;
}

/* line 22, ../sass/fields/_rate.scss */
div.fivestar-rating-wrapper > div > label {
  font-size: 0.75rem;
  transition: color .3s ease-in-out;
}
/* line 26, ../sass/fields/_rate.scss */
div.fivestar-rating-wrapper > div > label.full {
  color: #931058;
}
/* line 30, ../sass/fields/_rate.scss */
div.fivestar-rating-wrapper > div > label.hover {
  color: #F1B3D2 !important;
}
/* line 34, ../sass/fields/_rate.scss */
div.fivestar-rating-wrapper > div > label::before {
  content: "♥";
}

/* line 2, ../sass/facets/_facets.scss */
.facet-item a {
  display: block;
  border: 1px solid #931058;
  border-radius: 1rem;
  padding: 0.33333rem 0.8rem;
  color: #931058;
  white-space: nowrap;
}
/* line 10, ../sass/facets/_facets.scss */
.facet-item a:hover {
  background-color: #f7eff2;
}
/* line 14, ../sass/facets/_facets.scss */
.facet-item a.is-active {
  background-color: #931058;
  color: #fff;
}
/* line 18, ../sass/facets/_facets.scss */
.facet-item a.is-active:hover {
  background-color: #f7eff2;
  color: #931058;
}

/* line 27, ../sass/facets/_facets.scss */
.facets-widget-links ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
  list-style: none;
  padding: 0;
}
/* line 35, ../sass/facets/_facets.scss */
.facets-widget-links li {
  margin-right: 0.5rem;
}

/* line 1, ../sass/paragraphs/_clearfix.scss */
.paragraph--type--clearfix {
  clear: both;
}
/* line 4, ../sass/paragraphs/_clearfix.scss */
.paragraph--type--clearfix::after {
  content: '';
  display: table;
}

/* line 1, ../sass/paragraphs/_text.scss */
.paragraph--type--text {
  margin: 0 auto 2rem;
  max-width: 850px;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_text.scss */
  .paragraph--type--text {
    padding: 0 2rem;
  }
}
/* line 10, ../sass/paragraphs/_text.scss */
.paragraph--type--text h2,
.paragraph--type--text h3,
.paragraph--type--text h4 {
  color: #2A6797;
}
/* line 20, ../sass/paragraphs/_text.scss */
.paragraph--type--text p + p, .paragraph--type--text p + ul, .paragraph--type--text p + ol,
.paragraph--type--text ul + p,
.paragraph--type--text ul + ul,
.paragraph--type--text ul + ol,
.paragraph--type--text ol + p,
.paragraph--type--text ol + ul,
.paragraph--type--text ol + ol {
  margin-top: 1rem;
}

/* line 1, ../sass/paragraphs/_video.scss */
.paragraph--type--video,
.paragraph--type--soundcloud {
  background-color: #2A6797;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_video.scss */
  .paragraph--type--video,
  .paragraph--type--soundcloud {
    padding: 1rem 0;
  }
}
/* line 10, ../sass/paragraphs/_video.scss */
.paragraph--type--video h2,
.paragraph--type--video h3,
.paragraph--type--soundcloud h2,
.paragraph--type--soundcloud h3 {
  color: #fff;
  text-align: center;
}
@media (min-width: 1024px) {
  /* line 1, ../sass/paragraphs/_video.scss */
  .paragraph--type--video,
  .paragraph--type--soundcloud {
    float: left;
    margin: 0 2rem 2rem 0;
    width: 50%;
  }
}
@media (min-width: 1500px) {
  /* line 1, ../sass/paragraphs/_video.scss */
  .paragraph--type--video,
  .paragraph--type--soundcloud {
    margin-left: -16.66%;
    width: 66.666%;
  }
}
/* line 27, ../sass/paragraphs/_video.scss */
.paragraph--type--video .field--name-field-media-oembed-video,
.paragraph--type--soundcloud .field--name-field-media-oembed-video {
  margin-bottom: 1rem;
  padding-top: 56.25%;
  position: relative;
}
/* line 32, ../sass/paragraphs/_video.scss */
.paragraph--type--video .field--name-field-media-oembed-video iframe,
.paragraph--type--soundcloud .field--name-field-media-oembed-video iframe {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 41, ../sass/paragraphs/_video.scss */
.paragraph--type--video .field--name-field-content,
.paragraph--type--soundcloud .field--name-field-content {
  color: #fff;
  text-align: center;
  padding: 0 1rem 1rem;
}
@media (min-width: 768px) {
  /* line 41, ../sass/paragraphs/_video.scss */
  .paragraph--type--video .field--name-field-content,
  .paragraph--type--soundcloud .field--name-field-content {
    padding: 0 1rem;
  }
}

/* line 2, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action h3 {
  color: #212529;
  font-family: 'Bariol Bold Italic';
  font-size: 1.78125rem;
  text-align: center;
  margin-bottom: 1rem;
}
/* line 9, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action h3 a {
  color: #fff;
}
/* line 14, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action > .field__item {
  background-color: #F1B3D2;
  display: flex;
}
/* line 18, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action > .field__item > div {
  display: flex;
}
/* line 22, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action > .field__item:nth-child(2n+0) {
  background: #D2D800;
}
/* line 26, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action > .field__item:nth-child(3n+0) {
  background: #A2D9F5;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_cta.scss */
  .field--name-field-call-to-action {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 35, ../sass/paragraphs/_cta.scss */
  .field--name-field-call-to-action > .field__item {
    width: 33.333%;
  }
}
/* line 40, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action .paragraph--type--cta-item {
  height: 100%;
  padding-bottom: 3rem;
  position: relative;
}
/* line 45, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action .paragraph--type--cta-item .field--name-field-media-svg {
  padding: 3rem 0 2rem;
  width: 33.333%;
  margin: 0 auto;
}
/* line 51, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action .paragraph--type--cta-item .field--name-field-content {
  font-size: 1.21719rem;
  padding: 0 1rem 1rem;
  text-align: center;
}
/* line 56, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action .paragraph--type--cta-item .field--name-field-content a {
  border-bottom: 1px solid #212529;
  color: #212529;
}
/* line 60, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action .paragraph--type--cta-item .field--name-field-content a:hover {
  border-bottom: 1px solid transparent;
}
/* line 67, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action .paragraph--type--cta-item .field--name-field-link a {
  background-color: #FFD200;
  border: 1px solid #fff;
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(33, 37, 41, 0.2);
  bottom: 0;
  color: #931058;
  display: inline-block;
  font-family: 'Bariol Regular Italic';
  font-size: 1.21719rem;
  left: 50%;
  padding: 0.25rem 1.5rem 0.5rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transform: translate(-50%, 50%);
  width: 75%;
}
/* line 85, ../sass/paragraphs/_cta.scss */
.field--name-field-call-to-action .paragraph--type--cta-item .field--name-field-link a:hover {
  background-color: #cca800;
  box-shadow: 0 0 1rem rgba(33, 37, 41, 0.4);
}

/* line 2, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .title-wrapper {
  background-color: #FFD200;
  display: inline-block;
  margin: 0 -1rem 1rem;
  padding: 0.25rem 1rem;
}
@media (min-width: 768px) {
  /* line 2, ../sass/paragraphs/_experience.scss */
  .paragraph--type-experience .title-wrapper {
    padding: 1rem;
    margin-left: -2rem;
    transform: translate(-4rem, -50%);
  }
}
/* line 14, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .title-wrapper .field--name-field-schooltype {
  display: inline-block;
}
/* line 17, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .title-wrapper .field--name-field-schooltype a {
  color: #931058;
  font-size: 1.48438rem;
  font-weight: bold;
}
/* line 22, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .title-wrapper .field--name-field-schooltype a::after {
  content: ':';
  margin-right: 0.25rem;
}
/* line 30, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience h2 {
  color: #931058;
  display: inline;
  text-transform: uppercase;
  word-break: break-word;
}
/* line 37, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .experience-wrapper {
  background: #fff;
  padding: 0 1rem 3rem;
  position: relative;
}
@media (min-width: 768px) {
  /* line 37, ../sass/paragraphs/_experience.scss */
  .paragraph--type-experience .experience-wrapper {
    padding: 0 3rem 3rem;
  }
}
/* line 48, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .field--name-field-intro {
  color: #2A6797;
  font-size: 1.24688rem;
  padding-bottom: 1rem;
}
/* line 54, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .field--name-field-link {
  padding: 1rem 0 2rem;
  text-align: right;
  bottom: 0;
  position: absolute;
  padding: 0 0 0 3rem;
  right: 3rem;
  transform: translateY(50%);
}
@media (min-width: 1024px) {
  /* line 54, ../sass/paragraphs/_experience.scss */
  .paragraph--type-experience .field--name-field-link {
    right: 4rem;
  }
}
/* line 67, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .field--name-field-link a {
  background-color: #fff;
  border: 2px solid #931058;
  border-radius: 4rem;
  color: #931058;
  display: inline-block;
  font-family: 'Bariol Regular Italic';
  font-size: 1.24688rem;
  padding: 0.25rem 1.5rem 0.5rem;
  text-align: right;
}
/* line 78, ../sass/paragraphs/_experience.scss */
.paragraph--type-experience .field--name-field-link a::after {
  content: '►►';
  display: inline-block;
  font-family: 'Bariol Regular';
  font-size: 0.75rem;
  padding-left: 0.5rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_experience.scss */
  .paragraph--type-experience {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: nowrap;
  }
  /* line 94, ../sass/paragraphs/_experience.scss */
  .paragraph--type-experience .field--name-field-image {
    width: 33.333%;
  }
  /* line 98, ../sass/paragraphs/_experience.scss */
  .paragraph--type-experience .experience-wrapper {
    margin: auto 0;
    width: 66.666%;
  }
}

/* line 1, ../sass/paragraphs/_cta-bar.scss */
.paragraph--type--call-to-action-bar {
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_cta-bar.scss */
  .paragraph--type--call-to-action-bar {
    display: block;
  }
}
@media (min-width: 1500px) {
  /* line 1, ../sass/paragraphs/_cta-bar.scss */
  .paragraph--type--call-to-action-bar {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: #d6eef2;
  }
}
/* line 16, ../sass/paragraphs/_cta-bar.scss */
.paragraph--type--call-to-action-bar .wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
/* line 21, ../sass/paragraphs/_cta-bar.scss */
.paragraph--type--call-to-action-bar .wrapper .field--name-field-links .field__item {
  background-color: #F1B3D2;
  padding: 0.5rem 1rem;
  text-align: center;
}
/* line 26, ../sass/paragraphs/_cta-bar.scss */
.paragraph--type--call-to-action-bar .wrapper .field--name-field-links .field__item:nth-child(2) {
  background-color: #D2D800;
}
/* line 30, ../sass/paragraphs/_cta-bar.scss */
.paragraph--type--call-to-action-bar .wrapper .field--name-field-links .field__item:nth-child(3) {
  background-color: #A2D9F5;
}
/* line 35, ../sass/paragraphs/_cta-bar.scss */
.paragraph--type--call-to-action-bar .wrapper .field--name-field-links a {
  color: #931058;
  font-family: 'Bariol Regular Italic';
  font-size: 1.27656rem;
}
/* line 40, ../sass/paragraphs/_cta-bar.scss */
.paragraph--type--call-to-action-bar .wrapper .field--name-field-links a::after {
  content: '►►';
  display: inline-block;
  font-family: 'Bariol Regular';
  font-size: 0.75rem;
  padding-left: 0.5rem;
}
@media (min-width: 768px) {
  /* line 51, ../sass/paragraphs/_cta-bar.scss */
  .paragraph--type--call-to-action-bar .wrapper .field--name-field-links {
    background-color: #fff;
    display: flex;
  }
  /* line 55, ../sass/paragraphs/_cta-bar.scss */
  .paragraph--type--call-to-action-bar .wrapper .field--name-field-links .field__item {
    width: 33.33333%;
  }
}

/* line 1, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame {
  color: #212529;
  width: 100%;
}
/* line 5, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame .field--name-field-alignment {
  display: none;
}
/* line 9, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame h2 {
  color: #931058;
  font-family: 'Bariol Bold Italic';
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame {
    display: flex;
    margin-bottom: 1rem;
    width: 50%;
  }
}
/* line 22, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-lime .frame-content {
  background-color: #D2D800;
}
/* line 28, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-pink .frame-content {
  background-color: #F1B3D2;
}
/* line 34, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-gold .frame-content {
  background-color: #FFD200;
}
/* line 40, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.bg-seagull .frame-content {
  background-color: #A2D9F5;
}
@media (min-width: 768px) {
  /* line 45, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-left {
    float: left;
    margin-right: 2rem;
  }
}
@media (min-width: 1500px) {
  /* line 45, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-left {
    width: 66.666%;
    margin-left: -16.666%;
  }
}
@media (min-width: 768px) {
  /* line 58, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-right {
    float: right;
    margin-left: 2rem;
  }
}
@media (min-width: 1500px) {
  /* line 58, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame.frame-align-right {
    width: 66.666%;
    margin-right: -16.666%;
  }
}
/* line 69, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.frame-align-right .frame-content {
  order: 1;
}
/* line 73, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.frame-align-right .field-group-background-image {
  order: 2;
}
/* line 78, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.frame-align-middle {
  margin: 0 auto;
  width: 100%;
}
/* line 82, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.frame-align-middle .field-group-background-image {
  width: 33.333%;
}
/* line 86, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame.frame-align-middle .frame-content {
  width: 66.666%;
}
/* line 91, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame .frame-content {
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 91, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame .frame-content {
    padding: 2rem;
    width: 75%;
  }
}
/* line 100, ../sass/paragraphs/_frame.scss */
.paragraph--type--frame .field-group-background-image {
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 100, ../sass/paragraphs/_frame.scss */
  .paragraph--type--frame .field-group-background-image {
    width: 25%;
  }
}

/* line 1, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel {
  margin: 3rem 0;
}
@media (min-width: 768px) {
  /* line 1, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel {
    margin: 5rem 0;
  }
}
/* line 8, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .title-wrapper {
  background-color: #FFD200;
  display: inline-block;
  padding: 1rem;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  /* line 8, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .title-wrapper {
    transform: translateY(50%);
  }
}
/* line 19, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .title-wrapper h2 {
  display: inline;
  text-transform: uppercase;
}
/* line 24, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .title-wrapper .field--name-field-schooltype {
  display: inline-block;
}
/* line 27, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .title-wrapper .field--name-field-schooltype a {
  color: #931058;
  font-size: 1.48438rem;
  font-weight: bold;
}
/* line 32, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .title-wrapper .field--name-field-schooltype a::after {
  content: ':';
  margin-right: 0.25rem;
}
/* line 40, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .field--name-bundle-fieldparagraph {
  display: none;
}
/* line 44, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .background-image {
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 49, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .article-wrapper {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  /* line 54, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .article-wrapper .content-wrapper {
    order: 1;
    margin-top: 5rem;
    width: 40%;
  }
  /* line 60, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .article-wrapper .background-image {
    align-items: center;
    display: flex;
    order: 2;
    margin-bottom: 5rem;
    width: 60%;
  }
}
/* line 69, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .article-wrapper .content-wrapper {
  background: #fff;
  padding: 1rem 1rem 3rem;
  position: relative;
}
@media (min-width: 768px) {
  /* line 69, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .article-wrapper .content-wrapper {
    padding: 3rem;
  }
}
/* line 78, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .article-wrapper .content-wrapper .field--name-field-intro {
  color: #2A6797;
  font-size: 1.24688rem;
  padding-bottom: 1rem;
}
/* line 84, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .article-wrapper .content-wrapper .field--name-field-link {
  padding: 1rem 0 2rem;
  text-align: right;
  bottom: 0;
  position: absolute;
  padding: 0 0 0 3rem;
  right: 3rem;
  transform: translateY(50%);
}
@media (min-width: 1024px) {
  /* line 84, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .article-wrapper .content-wrapper .field--name-field-link {
    right: 4rem;
  }
}
/* line 99, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .article-wrapper .content-wrapper .field--name-field-link a {
  background-color: #fff;
  border: 2px solid #931058;
  border-radius: 4rem;
  color: #931058;
  display: inline-block;
  font-family: 'Bariol Regular Italic';
  font-size: 1.24688rem;
  padding: 0.25rem 1.5rem 0.5rem;
  text-align: right;
}
/* line 110, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .article-wrapper .content-wrapper .field--name-field-link a::after {
  content: '►►';
  display: inline-block;
  font-family: 'Bariol Regular';
  font-size: 0.75rem;
  padding-left: 0.5rem;
}
/* line 122, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .background-image {
  padding: 2rem;
}
/* line 126, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .inset-wrapper {
  background-color: rgba(129, 173, 194, 0.95);
  display: inline-block;
  font-family: 'Bariol Regular Italic';
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 126, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .inset-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 1500px) {
  /* line 126, ../sass/paragraphs/_frontpage-article.scss */
  .paragraph--type-frontpage-artikel .inset-wrapper {
    padding: 2rem;
    max-width: 50%;
  }
}
/* line 141, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .inset-wrapper .field--name-field-inzet-subtitle {
  color: #FFD200;
  font-family: 'Bariol Bold Italic';
  font-size: 1.24688rem;
}
/* line 147, ../sass/paragraphs/_frontpage-article.scss */
.paragraph--type-frontpage-artikel .inset-wrapper .field--name-field-inset-title {
  word-break: break-word;
}

/* line 1, ../sass/views/_related-stories.scss */
.view-related-stories {
  margin: 0 0 2rem;
  padding: 0;
}
@media (min-width: 768px) {
  /* line 1, ../sass/views/_related-stories.scss */
  .view-related-stories {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  /* line 12, ../sass/views/_related-stories.scss */
  .block-views-blockrelated-stories-block-1,
  .block-views-blockrelated-stories-block-2 {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #C5E5EC;
    margin-bottom: -2rem;
    padding: 4rem 0;
  }
}
/* line 21, ../sass/views/_related-stories.scss */
.block-views-blockrelated-stories-block-1 h2,
.block-views-blockrelated-stories-block-2 h2 {
  font-family: 'Bariol Regular Italic';
  text-align: center;
  padding: 0 1rem 2rem;
}

/* line 1, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term {
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}
@media (min-width: 768px) {
  /* line 1, ../sass/views/_taxonomy-term.scss */
  .view-taxonomy-term {
    margin: 0 -0.5rem 2rem;
    padding: 0;
  }
}
/* line 10, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content {
  display: flex;
  flex-wrap: wrap;
}
/* line 14, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content .views-row {
  padding: 0.5rem;
}
@media (min-width: 768px) {
  /* line 14, ../sass/views/_taxonomy-term.scss */
  .view-taxonomy-term .view-content .views-row {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  /* line 14, ../sass/views/_taxonomy-term.scss */
  .view-taxonomy-term .view-content .views-row {
    width: 33.333%;
  }
}
/* line 25, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content .views-row .node {
  height: 100%;
}
/* line 28, ../sass/views/_taxonomy-term.scss */
.view-taxonomy-term .view-content .views-row .node h2,
.view-taxonomy-term .view-content .views-row .node h3 {
  text-align: left;
}
