.paragraph--type--call-to-action-bar {

  display: none;


  @media (min-width: $bp-tablet) {
    display: block;
  }

  @media (min-width: $bp-jumbo) {
    @include break-out;
    display: block;
    background-color: $iceberg;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1200px;

    .field--name-field-links {
      .field__item {
        background-color: $viola;
        padding: $spacing * .5 $spacing;
        text-align: center;

        &:nth-child(2) {
          background-color: $conifer;
        }

        &:nth-child(3) {
          background-color: $seagull;
        }
      }

      a {
        color: $color-primary;
        font-family: 'Bariol Regular Italic';
        font-size: $base-font-size * 1.075;

        &::after {
          content: '►►';
          display: inline-block;
          font-family: 'Bariol Regular';
          font-size: $tiny;
          padding-left: $spacing * .5;
        }
      }
    }

    @media (min-width: $bp-tablet) {
      .field--name-field-links {
        background-color: $white;
        display: flex;

        .field__item {
          width: 33.33333%;
        }
      }
    }
  }
}