.field--name-field-call-to-action {
  h3 {
    color: $white;
    font-family: 'Bariol Bold Italic';
    font-size: $base-font-size * 1.5;
    text-align: center;
    margin-bottom: $spacing;

    a {
      color: $white;
    }
  }

  >.field__item {
    background-color: $viola;

    &:nth-child(2n+0) {
      background: $conifer;
    }

    &:nth-child(3n+0) {
      background: $seagull;
    }
  }

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;

    >.field__item {
      width: 33.333%;
    }
  }

  .paragraph--type--cta-item {
    padding-bottom: $spacing * 3;
    position: relative;

    .field--name-field-media-svg {
      padding: $spacing * 3 0 $spacing * 2;
      width: 33.333%;
      margin: 0 auto;
    }

    .field--name-field-content {
      font-size: $base-font-size * 1.025;
      padding: 0 $spacing $spacing;
      text-align: center;
    }

    .field--name-field-link {
      a {
        background-color: $goldenrod;
        border: 1px solid $white;
        border-radius: $spacing;
        box-shadow: 0 0 $spacing rgba($base-color, .2);
        bottom: 0;
        color: $color-primary;
        display: inline-block;
        font-family: 'Bariol Regular Italic';
        font-size: $base-font-size * 1.025;
        left: 50%;
        padding: $spacing * .25 $spacing;
        position: absolute;
        text-align: center;
        text-decoration: none;
        transform: translate(-50%, 50%);

        &:hover {
          background-color: darken($goldenrod, 10%);
          box-shadow: 0 0 $spacing rgba($base-color, .4);
        }
      }
    }
  }
}