.field--name-field-call-to-action {
  h2 {
    text-align: center;
    margin-bottom: $spacing * 2;
  }

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;

    >.field__item {
      width: 33.333%;
    }
  }
}

.paragraph--type--cta-item {
  position: relative;
}