.paragraph--type--frame {
  font-family: 'Bariol Regular Italic';
  font-size: $base-font-size * 1.05;
  width: 100%;

  .field--name-field-alignment {
    display: none;
  }

  @media (min-width: $bp-tablet) {
    display: flex;
    margin-bottom: $spacing;
    width: 50%;
  }

  &.bg-blue {
    background-color: $matisse;
    color: $white;

    a {
      color: $goldenrod;
    }

    h2 {
      color: $goldenrod;
      font-family: 'Bariol Regular Italic';
      margin-bottom: $spacing;
    }
  }

  &.bg-gold {
    background-color: $goldenrod;
    color: $matisse;

    a {
      color: $matisse;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    h2 {
      color: $matisse;
      font-family: 'Bariol Regular Italic';
      margin-bottom: $spacing;
    }
  }

  &.bg-primary {
    background-color: $color-primary;
    color: $white;

    a {
      color: $goldenrod;
    }

    h2 {
      color: $goldenrod;
      font-family: 'Bariol Regular Italic';
      margin-bottom: $spacing;
    }
  }

  &.frame-align-left {
    @media (min-width: $bp-tablet) {
      float: left;
      margin-right: $spacing * 2;

    }

    @media (min-width: $bp-jumbo) {
      width: 66.666%;
      margin-left: -16.666%;
    }
  }

  &.frame-align-right {
    @media (min-width: $bp-tablet) {
      float: right;
      margin-left: $spacing * 2;
    }

    @media (min-width: $bp-jumbo) {
      width: 66.666%;
      margin-right: -16.666%;
    }

    .frame-content {
      order: 1;
    }

    .field-group-background-image {
      order: 2;
    }
  }

  .frame-content {
    padding: $spacing;

    @media (min-width: $bp-tablet) {
      padding: $spacing * 2;
      width: 75%;
    }
  }

  .field-group-background-image {
    background-position: center;
    background-size: cover;

    @media (min-width: $bp-tablet) {
      width: 25%;
    }
  }
}