.paragraph--type--frame {
  color: $base-color;
  width: 100%;

  .field--name-field-alignment {
    display: none;
  }

  h2 {
    color: $color-primary;
    font-family: 'Bariol Bold Italic';
    margin-bottom: $spacing;
  }

  @media (min-width: $bp-tablet) {
    display: flex;
    margin-bottom: $spacing;
    width: 50%;
  }

  &.bg-lime {
    .frame-content {
      background-color: $conifer;
    }
  }

  &.bg-pink {
    .frame-content {
      background-color: $viola;
    }
  }

  &.bg-gold {
    .frame-content {
      background-color: $goldenrod;
    }
  }

  &.bg-seagull {
    .frame-content {
      background-color: $seagull;
    }
  }

  &.frame-align-left {
    @media (min-width: $bp-tablet) {
      float: left;
      margin-right: $spacing * 2;

    }

    @media (min-width: $bp-jumbo) {
      width: 66.666%;
      margin-left: -16.666%;
    }
  }

  &.frame-align-right {
    @media (min-width: $bp-tablet) {
      float: right;
      margin-left: $spacing * 2;
    }

    @media (min-width: $bp-jumbo) {
      width: 66.666%;
      margin-right: -16.666%;
    }

    .frame-content {
      order: 1;
    }

    .field-group-background-image {
      order: 2;
    }
  }

  &.frame-align-middle {
    margin: 0 auto;
    width: 100%;

    .field-group-background-image {
      width: 33.333%;
    }

    .frame-content {
      width: 66.666%;
    }
  }

  .frame-content {
    padding: $spacing;

    @media (min-width: $bp-tablet) {
      padding: $spacing * 2;
      width: 75%;
    }
  }

  .field-group-background-image {
    background-position: center;
    background-size: cover;

    @media (min-width: $bp-tablet) {
      width: 25%;
    }
  }
}