.paragraph--type--text {
  margin: 0 auto $spacing * 2;
  max-width: $content-width;
  padding: 0 $spacing;

  @media (min-width: $bp-tablet) {
    padding: 0 $spacing * 2;
  }

  h2,
  h3,
  h4 {
    color: $matisse;
  }

  p,
  ul,
  ol {

    &+p,
    &+ul,
    &+ol {
      margin-top: $spacing;
    }
  }

  blockquote {
    border-right: 3px solid $matisse;
    color: $matisse;
    font-family: 'Bariol Regular Italic';
    font-size: $base-font-size * 1.5;
    margin: $spacing 0;
    padding: 0 $spacing * 2 0 0;

    p {
      &:nth-child(2) {
        font-family: $base-font-family;
        color: $color-primary;
        font-size: $base-font-size;
      }
    }

    @media (min-width: $bp-tablet) {
      float: left;
      text-align: right;
      width: 50%;
      margin: $spacing $spacing * 2 $spacing 0;
    }

    @media (min-width: 1200px) {
      width: 55%;
      margin-left: -213px;
      padding-left: $spacing;
    }
  }
}