.paragraph--type--video {
  margin: 0 auto;

  .field--name-field-media-oembed-video {
    padding-top: 56.25%;
    position: relative;

    iframe {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}