.paragraph--type--video,
.paragraph--type--soundcloud {
  background-color: $matisse;
  font-family: 'Bariol Regular Italic';
  font-size: $base-font-size * 1.05;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    padding: $spacing;
  }

  h2,
  h3 {
    color: $white;
    text-align: center;
  }

  @media (min-width: $bp-desktop) {
    float: left;
    margin: 0 $spacing * 2 $spacing * 2 0;
    width: 50%
  }

  @media (min-width: $bp-jumbo) {
    margin-left: -16.66%;
    width: 66.666%;
  }

  .field--name-field-media-oembed-video {
    margin-bottom: $spacing;
    padding-top: 56.25%;
    position: relative;

    iframe {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .field--name-field-content {
    color: $white;
    text-align: center;
    padding: 0 $spacing $spacing;

    @media (min-width: $bp-tablet) {
      padding: 0 $spacing;
    }
  }
}