*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

body {
  background-color: $white;
  color: $base-color;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page-container {
  background-color: $black-squeeze;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: $color-primary;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: 1.2;
  margin: 0 0 $spacing * .25;
}

h1,
.h1 {
  color: $white;
  font-family: 'Bariol Regular Italic';
  font-size: $base-font-size * 2;

  @media (min-width: $bp-tablet) {
    font-size: 3rem;
  }
}

body.path-taxonomy {
  h1 {
    margin: $spacing 0 $spacing * 2;
  }
}

h2 {
  font-size: $base-font-size * 1.25;
}

h3 {
  font-size: $base-font-size * 1.125;
}

h4 {
  font-size: $base-font-size * 1.05;
}

a {
  border-bottom: 1px solid transparent;
  color: $blue;
  text-decoration: none;
  transition: all .3s ease-in-out;

  &:hover {
    border-bottom: 1px solid $blue;
  }
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.paragraph--type--text,
.paragraph--type--frame {

  ul,
  ol {
    margin: 0;

    li {
      &+li {
        margin-top: $spacing * .5;
      }
    }
  }

  p,
  ul,
  ol {

    &+p,
    &+ul,
    &+ol {
      margin-top: $spacing;
    }
  }
}