@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextregular.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextregular.ttf") format("opentype"), url("../fonts/ROsanswebtextregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextbold.ttf") format("opentype"), url("../fonts/ROsanswebtextbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "ROSans";
  src: url("../fonts/ROsanswebtextitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ROsanswebtextitalic.ttf") format("opentype"), url("../fonts/ROsanswebtextitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebregular.ttf") format("opentype"), url("../fonts/ROserifwebregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebbold.ttf") format("opentype"), url("../fonts/ROserifwebbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "ROSerif";
  src: url("../fonts/ROserifwebitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ROserifwebitalic.ttf") format("opentype"), url("../fonts/ROserifwebitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Bariol Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Regular'), url('../fonts/bariol_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Regular Italic'), url('../fonts/bariol_regular_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Thin Italic'), url('../fonts/bariol_thin_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Thin'), url('../fonts/bariol_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Light';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Light'), url('../fonts/bariol_light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Light Italic'), url('../fonts/bariol_light_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Bold'), url('../fonts/bariol_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Bold Italic'), url('../fonts/bariol_bold_italic-webfont.woff') format('woff');
}