$base-font-family: "ROSans";
$header-font-family: "Bariol Regular";

$base-font-size: 1.1875rem;
$base-line-height: 1.5;

$smaller: .875rem;
$tiny: .75rem;

$wrap-width: 1200px;
$content-width: 850px;

$base-font-weight: 400;
$header-font-weight: 400;

$spacing: 1rem;

$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-xl: 1200px;
$bp-jumbo: 1500px;

$base-color: #212529;
$color-primary: #931058;
$color-secondary: #f7eff2;

$color-alto: #aaa;

$white: #fff;
$blue: #65bbe9;

$aqua-haze: #e0edef;
$matisse: #216c9c;
$porcelain: #f0f1f2;

$goldenrod: #f9cb74;

$viola: #c384a6;
$conifer: #bdd453;
$seagull: #7bcbe7;

$black-squeeze: #e7f4f6;
$iceberg: #d6eef2;