$base-font-family: "ROSans";

$base-font-size: 1.1875rem;
$base-line-height: 1.5;

$base-font-weight: 400;
$header-font-weight: 400;

$spacing: 1rem;

$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-jumbo: 1400px;

$base-color: #212529;
$color-primary: #a90061;
$color-secondary: #f2d9e7;

$color-alto: #aaa;

$white: #fff;
$blue: #65bbe9;