.node--type-interview.node--view-mode-teaser {
  background: $white;
  cursor: pointer;
  position: relative;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $aqua-haze;
  }

  .interview-teaser-content {
    padding: $spacing $spacing $spacing * 3;

    h3 {
      margin-bottom: $spacing;
      text-align: center;

      a {
        color: $matisse;
      }
    }
  }

  .field--name-node-link {
    position: absolute;
    right: $spacing;
    bottom: $spacing;
  }
}