.node--type-interview.node--view-mode-full {
  background: $white;

  .interview-header {
    background-position: center;
    background-size: cover;
    padding: $spacing;
    position: relative;

    @media (min-width: $bp-tablet) {
      @include break-out;
      min-height: 700px;
    }

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, rgba($matisse, .6) 0%, rgba($color-primary, .333) 100%);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .wrapper {
      padding: $spacing * 3 0;
      position: relative;
      z-index: 2;

      @media (min-width: $bp-tablet) {
        left: 50%;
        max-width: 1200px;
        padding: 0 $spacing;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 100%;
      }

      @media (min-width: $bp-tablet) {
        padding: 0 $spacing * 2;
      }

      h1 {
        color: $white;
        font-family: 'Bariol Regular Italic';

        @media (min-width: $bp-tablet) {
          width: 66%;
        }

        @media (min-width: $bp-desktop) {
          width: 40%;
        }
      }

      .field--name-field-schooltype {
        color: $goldenrod;
        display: flex;
        font-family: 'Bariol Regular Italic';
        font-size: $base-font-size * 1.05;

        a {
          color: $goldenrod;
        }

        .field__item:not(:first-child) {
          &::before {
            content: ' / ';
            display: inline-block;
            padding: 0 $spacing * .25;
          }
        }
      }
    }
  }

  .interview-content {
    background-color: $white;
    position: relative;

    @media (min-width: $bp-tablet) {
      margin-top: -7 * $spacing;

      .field--name-field-intro {
        padding-top: $spacing * 6
      }
    }
  }

  .interview-details {
    align-items: center;
    background-color: $goldenrod;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: $spacing;
    text-transform: uppercase;

    @media (min-width: $bp-tablet) {
      flex-direction: row;
      font-size: $base-font-size * 1.125;
      min-height: $spacing * 5;
      min-width: 66.66%;
      padding: 0 $spacing * 2;
      position: absolute;
      transform: translateY(-50%);
    }

    .field__item {
      @media (min-width: $bp-tablet) {
        &:not(:last-child) {
          &::after {
            display: inline-block;
            content: ', ';
            padding-right: $spacing * .25;
          }
        }
      }
    }
  }
}