.node--type-interview.node--view-mode-teaser {
  background: $white;
  box-shadow: 0;
  cursor: pointer;
  position: relative;
  transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;

  &:hover {
    background-color: $aqua-haze;
    box-shadow: 0 0 $spacing rgba($base-color, .05);
  }

  .field--name-field-schooltype {
    display: flex;
    flex-wrap: wrap;

    .field__item {
      a {
        color: $color-primary;
      }

      &:not(:last-child) {
        a {
          margin-right: $spacing * .25;
        }
      }
    }
  }

  .interview-teaser-content {
    padding: $spacing $spacing $spacing * 3;

    h3 {
      margin-bottom: $spacing;

      a {
        color: $matisse;
      }
    }
  }

  .field--name-node-link {
    position: absolute;
    right: $spacing;
    bottom: $spacing;

    a {
      height: 0px;
      width: 0px;
      overflow: hidden;
      clip: rect(0 0 0 0);

      &::before {
        color: $color-primary;
        content: '►►';
        font-size: $tiny;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}